In [6]:
import pandas as pd
pd.set_option("display.max_columns", None)

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls'
df = pd.read_excel(io=url, header=1, index_col=0)
df.sample(10)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,,,,
5620,90000,2,2,2,23,0,0,0,0,0,0,19204,12681,14155,14916,15673,17404,2000,2000,1000,1000,2000,2000,0
29183,280000,2,1,1,56,-2,-2,-2,-2,-2,-2,4320,4789,9957,12492,3464,3936,4811,9957,12492,3469,3936,3845,0
14340,390000,1,1,1,36,1,-1,-1,-1,-1,-1,0,250,79,79,290,106,250,79,0,290,106,66,1
6949,180000,2,1,2,35,-1,-1,-1,0,-1,-1,11123,7883,16477,13207,73813,34935,7936,18207,0,22479,34935,5382,0
11080,100000,2,2,1,41,0,0,0,0,0,2,76828,77371,85154,84914,83097,1308,4000,10200,2100,2850,0,72375,0
21495,60000,2,2,2,27,0,0,0,0,0,0,57697,48934,44653,44056,42210,41796,2200,5000,2000,1500,2000,1600,1
12829,100000,2,1,2,25,2,2,-2,-2,-2,-2,100000,0,0,0,0,-150953,0,0,0,0,0,150400,0
10113,50000,2,2,2,31,0,-1,-1,-2,-1,-1,9514,2067,-6,-409,793,2385,2100,405,0,2385,2385,3000,0
11696,20000,2,3,2,53,-1,-1,-2,-2,-1,-1,4400,-220,-220,-610,390,0,0,0,0,1390,0,780,0
4969,50000,2,1,2,25,-1,0,0,0,0,0,8540,9875,11396,13190,14967,16551,1479,2000,2000,2000,2000,4060,0