<font size="+5">#07. Model Selection. Decision Tree vs Support Vector Machines vs Logistic Regression</font>

- Book + Private Lessons [Here â†—](https://sotastica.com/reservar)
- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Load the Data

> - The goal of this dataset is
> - To predict if **bank's customers** (rows) could have the approval for a credit card `target`
> - Based on their **socio-demographical characteristics** (columns)

In [41]:
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data',
                 na_values='?', header=None)

df.rename(columns={15: 'target'}, inplace=True)
df.head()

   0      1      2  3  4  5  6     7  8  9  10 11 12     13   14 target
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0      +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560      +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824      +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3      +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0      +

In [42]:
df

     0      1       2  3  4   5   6     7  8  9  10 11 12     13   14 target
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  202.0    0      +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g   43.0  560      +
2    a  24.50   0.500  u  g   q   h  1.50  t  f   0  f  g  280.0  824      +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  100.0    3      +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  120.0    0      +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..    ...  ...    ...
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  260.0    0      -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  200.0  394      -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  200.0    1      -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  280.0  750      -
689  b  35.00   3.375  u  g   c   h  8.29  f  f   0  t  g    0.0    0      -

[690 rows x 16 columns]

In [43]:
df.dropna()

     0      1       2  3  4   5   6     7  8  9  10 11 12     13   14 target
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  202.0    0      +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g   43.0  560      +
2    a  24.50   0.500  u  g   q   h  1.50  t  f   0  f  g  280.0  824      +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  100.0    3      +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  120.0    0      +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..    ...  ...    ...
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  260.0    0      -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  200.0  394      -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  200.0    1      -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  280.0  750      -
689  b  35.00   3.375  u  g   c   h  8.29  f  f   0  t  g    0.0    0      -

[653 rows x 16 columns]

In [44]:
df.values

array([['b', 30.83, 0.0, ..., 202.0, 0, '+'],
       ['a', 58.67, 4.46, ..., 43.0, 560, '+'],
       ['a', 24.5, 0.5, ..., 280.0, 824, '+'],
       ...,
       ['a', 25.25, 13.5, ..., 200.0, 1, '-'],
       ['b', 17.92, 0.205, ..., 280.0, 750, '-'],
       ['b', 35.0, 3.375, ..., 0.0, 0, '-']], dtype=object)

In [45]:
type(df.values)

numpy.ndarray

In [46]:
df[6].value_counts()

v     399
h     138
bb     59
ff     57
j       8
z       8
dd      6
n       4
o       2
Name: 6, dtype: int64

In [47]:
df=pd.get_dummies(df,drop_first=True)# convertimos los datos para poder compararlos
df.head()

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s,target_-
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,1,0,1,1,0,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,1,1,0,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,1,0,1,1,1,0,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0

In [50]:
X=df.drop(columns='target_-') #variables explicativas
X

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_j,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,0,1,0,1,1,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,0,1,0,1,1,1,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,21.08,10.085,1.25,0,260.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
686,22.67,0.750,2.00,2,200.0,394,0,1,0,0,...,0,0,0,1,0,0,1,1,0,0
687,25.25,13.500,2.00,1,200.0,1,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
688,17.92,0.205,0.04,0,280.0,750,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
689,35.00,3.375,8.29,0,0.0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [51]:
y=df['target_-']    #variable objetivo
y

0      0
1      0
2      0
3      0
4      0
      ..
685    1
686    1
687    1
688    1
689    1
Name: target_-, Length: 690, dtype: uint8

In [52]:
df.isnull().sum()

1           12
2            0
7            0
10           0
13          13
14           0
0_b          0
3_u          0
3_y          0
4_gg         0
4_p          0
5_c          0
5_cc         0
5_d          0
5_e          0
5_ff         0
5_i          0
5_j          0
5_k          0
5_m          0
5_q          0
5_r          0
5_w          0
5_x          0
6_dd         0
6_ff         0
6_h          0
6_j          0
6_n          0
6_o          0
6_v          0
6_z          0
8_t          0
9_t          0
11_t         0
12_p         0
12_s         0
target_-     0
dtype: int64

In [53]:
mask = df.isnull().sum(axis=1) > 0

In [54]:
df[mask]

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s,target_-
71,34.83,4.000,12.500,0,NaN,0,1,1,0,0,...,0,0,0,0,1,0,1,0,0,1
83,NaN,3.500,3.000,0,300.0,0,0,1,0,0,...,0,0,1,0,1,0,1,0,0,1
86,NaN,0.375,0.875,0,928.0,0,1,1,0,0,...,0,0,1,0,1,0,1,0,1,1
92,NaN,5.000,8.500,0,0.0,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
97,NaN,0.500,0.835,0,320.0,0,1,1,0,0,...,0,0,0,0,1,0,1,0,1,1
202,24.83,2.750,2.250,6,NaN,600,1,1,0,0,...,0,0,1,0,1,1,0,0,0,0
206,71.58,0.000,0.000,0,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
243,18.75,7.500,2.710,5,NaN,26726,0,1,0,0,...,0,0,1,0,1,1,0,0,0,0
254,NaN,0.625,0.250,0,380.0,2010,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1
270,37.58,0.000,0.000,0,NaN,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
278,24.58,13.500,0.000,0,NaN,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
286,NaN,1.500,0.000,2,200.0,105,0,1,0,0,...,0,0,0,0,0,1,1,0,0,1
329,NaN,4.000,0.085,0,411.0,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,1
330,20.42,0.000,0.000,0,NaN,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
406,40.33,8.125,0.165,2,NaN,18,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
445,NaN,11.250,0.000,0,NaN,5200,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
450,NaN,3.000,7.000,0,0.0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
456,34.58,0.000,0.000,0,NaN,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
500,NaN,4.000,5.000,3,290.0,2279,1,1,0,0,...,0,0,1,0,1,1,1,0,0,0
515,NaN,10.500,6.500,0,0.0,0,1,1,0,0,...,0,0,1,0,1,0,0,0,0,0
592,23.17,0.000,0.000,0,NaN,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
608,NaN,0.040,4.250,0,460.0,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,1
622,25.58,0.000,0.000,0,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
626,22.00,7.835,0.165,0,NaN,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,1

In [55]:
df

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s,target_-
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,1,0,1,1,0,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,1,1,0,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,1,0,1,1,1,0,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,21.08,10.085,1.25,0,260.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
686,22.67,0.750,2.00,2,200.0,394,0,1,0,0,...,0,0,1,0,0,1,1,0,0,1
687,25.25,13.500,2.00,1,200.0,1,0,0,1,0,...,0,0,0,0,0,1,1,0,0,1
688,17.92,0.205,0.04,0,280.0,750,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1
689,35.00,3.375,8.29,0,0.0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,1

In [56]:
df.dropna()

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s,target_-
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,1,0,1,1,0,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,1,1,0,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,1,0,1,1,1,0,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,21.08,10.085,1.25,0,260.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
686,22.67,0.750,2.00,2,200.0,394,0,1,0,0,...,0,0,1,0,0,1,1,0,0,1
687,25.25,13.500,2.00,1,200.0,1,0,0,1,0,...,0,0,0,0,0,1,1,0,0,1
688,17.92,0.205,0.04,0,280.0,750,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1
689,35.00,3.375,8.29,0,0.0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,1

In [57]:
df=df.dropna() #df.dropna(inplace=True)

In [58]:
X=df.drop(columns='target_-') #variables explicativas
X

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_j,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,0,1,0,1,1,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,0,1,0,1,1,1,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,21.08,10.085,1.25,0,260.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
686,22.67,0.750,2.00,2,200.0,394,0,1,0,0,...,0,0,0,1,0,0,1,1,0,0
687,25.25,13.500,2.00,1,200.0,1,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
688,17.92,0.205,0.04,0,280.0,750,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
689,35.00,3.375,8.29,0,0.0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [60]:
y=df['target_-']    #variable objetivo
y

0      0
1      0
2      0
3      0
4      0
      ..
685    1
686    1
687    1
688    1
689    1
Name: target_-, Length: 666, dtype: uint8

# Build & Compare Models

## `DecisionTreeClassifier()`

In [61]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/7VeUPuFGJHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

In [62]:
X.columns

Index([     1,      2,      7,     10,     13,     14,  '0_b',  '3_u',  '3_y',
       '4_gg',  '4_p',  '5_c', '5_cc',  '5_d',  '5_e', '5_ff',  '5_i',  '5_j',
        '5_k',  '5_m',  '5_q',  '5_r',  '5_w',  '5_x', '6_dd', '6_ff',  '6_h',
        '6_j',  '6_n',  '6_o',  '6_v',  '6_z',  '8_t',  '9_t', '11_t', '12_p',
       '12_s'],
      dtype='object')

In [63]:
X

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_j,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,0,1,0,1,1,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,0,1,0,1,1,1,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,21.08,10.085,1.25,0,260.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
686,22.67,0.750,2.00,2,200.0,394,0,1,0,0,...,0,0,0,1,0,0,1,1,0,0
687,25.25,13.500,2.00,1,200.0,1,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
688,17.92,0.205,0.04,0,280.0,750,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
689,35.00,3.375,8.29,0,0.0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [64]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X,y)
model.score(X,y)

/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

1.0

## `RandomForestClassifier()`

In [65]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/J4Wdy0Wc_xQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

In [66]:
from sklearn.ensemble import RandomForestClassifier
rdf=RandomForestClassifier()
rdf.fit(X,y)
rdf.score(X,y)

/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

1.0

## `KNeighborsClassifier()`

In [67]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/HVXime0nQeI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

In [68]:
from sklearn.neighbors import KNeighborsClassifier
knb=KNeighborsClassifier()
knb.fit(X,y)
knb.score(X,y)

/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.7837837837837838

## Whic Model is the Best?

> Which model has the **highest accuracy**?

# `train_test_split()` & Compare Again

In [69]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_j,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s
664,31.08,1.500,0.040,0,160.0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
342,26.92,2.250,0.500,0,640.0,4000,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
512,44.33,0.000,2.500,0,0.0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0
536,24.92,1.250,0.000,0,80.0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
210,39.33,5.875,10.000,14,399.0,0,1,1,0,0,...,0,0,0,0,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,38.58,5.000,13.500,0,980.0,0,0,1,0,0,...,0,0,0,1,0,1,0,1,0,0
111,24.50,1.040,0.500,3,180.0,147,0,0,1,0,...,0,0,0,0,0,1,1,0,0,0
281,23.92,0.585,0.125,0,240.0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
452,36.50,4.250,3.500,0,454.0,50,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
107,25.00,11.000,4.500,0,120.0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0

In [70]:
X_test

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_j,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s
637,19.50,9.585,0.790,0,80.0,350,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
163,32.00,1.750,0.040,0,393.0,0,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
657,38.92,1.665,0.250,0,0.0,390,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
242,28.33,5.000,11.000,0,70.0,0,1,1,0,0,...,0,0,0,1,0,1,0,1,0,0
529,43.25,25.210,0.210,1,760.0,90,1,1,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,28.67,14.500,0.125,0,0.0,286,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
589,25.33,0.580,0.290,7,96.0,5124,1,1,0,0,...,0,0,0,1,0,1,1,1,0,0
675,41.58,1.040,0.665,0,240.0,237,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
324,33.67,1.250,1.165,0,120.0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
87,25.67,2.210,4.000,0,188.0,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0

In [71]:
y_train

664    1
342    1
512    0
536    1
210    0
      ..
72     1
111    1
281    1
452    1
107    1
Name: target_-, Length: 446, dtype: uint8

In [72]:
y_test

637    1
163    0
657    1
242    0
529    1
      ..
376    1
589    0
675    1
324    1
87     1
Name: target_-, Length: 220, dtype: uint8

## `DecisionTreeClassifier()`

In [73]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train)

/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

DecisionTreeClassifier()

In [74]:
solut_dtc=model.predict(X_test)

(solut_dtc==y_test).mean()

/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.7909090909090909

## Automate the Procedure into a function()

In [75]:
def media_aciertos(model):

    model.fit(X_train,y_train)

    solut_dtc=model.predict(X_test)
    
    (solut_dtc==y_test).mean()
    
    resultado = (solut_dtc==y_test).mean()
        
    return resultado

## `RandomForestClassifier()`

In [76]:
rdf=RandomForestClassifier()

In [77]:
media_aciertos(model = rdf)

/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.85

## `KNeighborsClassifier()`

In [78]:
knb=KNeighborsClassifier()

In [80]:
X.columns

Index([     1,      2,      7,     10,     13,     14,  '0_b',  '3_u',  '3_y',
       '4_gg',  '4_p',  '5_c', '5_cc',  '5_d',  '5_e', '5_ff',  '5_i',  '5_j',
        '5_k',  '5_m',  '5_q',  '5_r',  '5_w',  '5_x', '6_dd', '6_ff',  '6_h',
        '6_j',  '6_n',  '6_o',  '6_v',  '6_z',  '8_t',  '9_t', '11_t', '12_p',
       '12_s'],
      dtype='object')

In [79]:
media_aciertos(model=knb)

/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.6818181818181818

# Which is the Best Model with `train_test_split()`?

> Which model has the **highest accuracy**?

### RandomForestClassifier

# Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [X] Understand the necessity to **create functions** to avoid the repetition of the code.
- [ ] **Bootstrapping** as a way to create an artificial dataset that helps to reduce the bias.
- [ ] **Classification threshold** to predict categories out of probabilities.
- [ ] Different ways to **compare classification models**.
- [ ] Understand the importance to check how good is a model with **data not seen during training**.